</div>
</div>
<!--custom script-->
<script type="text/javascript" src="javascripts/index.js"></script>
</body>

<footer id="footer">
    <p>
        © 2017<a href="#"> Don't even know where to link here</a>, All rights reserved 2016-2017.
        <a id="impressum-link" href="/impressum">Impressum</a>
    </p>
</footer>
</html>