</div>
</div>
<!--custom script-->
<script type="text/javascript" src="javascripts/index.js"></script>
</body>

<!--Make sure this appears at the bottom of the page even for small devices; maybe add size to body?-->
<footer id="footer">
    <p>
        © 2017<a href="#"> Website erstellt von Andreas Kammerloher</a>, Bilder von <a href="https://unsplash.com/">Unsplash</a>
        <a id="impressum-link" href="/impressum">Impressum</a>
    </p>
</footer>
</html>