<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="public/stylesheets/style.css"/>
    <title>Friseur Fesel</title>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/2c430df85a.css">
    <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
</head>
<body>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous">
</script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src='https://api.mapbox.com/mapbox-gl-js/v0.38.0/mapbox-gl.js'></script>

<nav class="navbar navbar-inverse">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <dl>
                <dt class="phone-dt"><a class="navbar-brand" href="/"><strong><i class="fa fa-scissors"
                                                                                 aria-hidden="true"></i> Friseur
                            Fesel</strong></a></dt>
                <dd id="phone-number">
                    Telefon: (238) 239723458
                </dd>
            </dl>

        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a id="home" href="/">Home</a></li>
                <li><a id="kontakt" href="/kontakt">Kontakt</a></li>
                <li><a id="anfahrt" href="/anfahrt">Anfahrt</a></li>
                <li><a id="preise" href="/preise">Preise</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<div class="background-div">
    <div id="animate-div" class="animate-in">