<% include partials/header %>

<div class="container top-container">
    <div class="jumbotron">
        <div class="row display-flex">
            <div class="col-xs-12">
                <h1>Impressum</h1>
            </div>
            <hr>
        </div>

        <div class="row display-flex">
            <div class="col-xs-3"></div>

            <div class="col-xs-6" id="impressum">
                <p>DISCLAIMER: dies ist keine echte website und dient nur zu demozwecken!</p>
                <p>Friseurmeister</p>
                <p>Franz Fesel</p>
                <p>Feselstraße 21</p>
                <p>983476 Eching</p>
                <br>
                <p>Telefon: (232) 12937435</p>
                <p>E-mail: Fesel@privat.de</p>
                <p>Steuernummer: [Steuernummer hier]</p>
            </div>

            <div class="col-xs-3"></div>
        </div>
    </div>
</div>

<% include partials/footer %>