<% include partials/header %>

<div class="container">
    <div class="jumbotron">
        <div class="row display-flex">
            <div class="col-xs-12">
                <h1>Willkommen bei Friseur Fesel!</h1>
            </div>
            <hr>
        </div>

        <div class="row row-centered">
            <div class="col-md-2 col-xs-4 col-centered">
                <dl>
                    <dt>Montag</dt> <dd>8:00 - 18:00</dd>
                </dl>
            </div>
            <div class="col-md-2 col-xs-4 col-centered">
                <dl>
                    <dt>Dienstag</dt> <dd>8:00 - 18:00</dd>
                </dl>
            </div>
            <div class="col-md-2 col-xs-4 col-centered">
                <dl>
                    <dt>Mittwoch</dt> <dd>8:00 - 18:00</dd>
                </dl>
            </div>
            <div class="col-md-2 col-xs-4 col-centered">
                <dl>
                    <dt>Donnerstag</dt> <dd>8:00 - 18:00</dd>
                </dl>
            </div>
            <div class="col-md-2 col-xs-4 col-centered">
                <dl>
                    <dt>Freitag</dt> <dd>8:00 - 18:00</dd>
                </dl>
            </div>
            <hr>
        </div>

        <div class="row display-flex">
            <div class="col-xs-12">
                <p>
                    Bei uns finden sie junges Talent, das ihnen sowohl moderne als auch klassische Haarschnitte anbieten
                    kann!
                </p>
            </div>

            <div class="col-sm-6">
                <p> Unsere fähigen Friseure verwenden die modernsten Techniken, damit ihr Haar in neuer Eleganz
                    strahlt!</p>
                <p>Hier ist noch weiterer buzzword Werbetext über Friseure und Frisuren und Haarprodukte, die sie hier
                    erwerben können!</p>
                <p>Probieren Sie auch die Jumbalaya!</p>
            </div>
            <div class="col-sm-6">
                <div class="thumbnail">
                    <img class="img-thumbnail" src="images/toa-heftiba-215379.jpg">
                </div>
            </div>

        </div>


    </div>
</div>


<% include partials/footer %>