<% include partials/header %>

<div class="container top-container">
    <div class="jumbotron">
        <div class="row display-flex">
            <div class="col-xs-12">
                <h1>Kontakt</h1>
            </div>
            <hr>
        </div>

        <div class="row display-flex row-centered">
            <div class="col-xs-4">
                <h4>Telefon:</h4>
                <p>238/239723458</p>
            </div>
            <div class="col-xs-4">
                <h4>Email:</h4>
                <p>kontakt@friseur-fesel.de</p>
            </div>
            <div class="col-xs-4" id="social-media">
                <h4>Social Media:</h4>
                <a href="http://facebook.com"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
                <a href="http://twitter.com"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
                <a href="http://instagram.com"><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>