<% include partials/header %>

<div class="container top-container">
    <div class="jumbotron">
        <div class="row display-flex">
            <div class="col-xs-12">
                <h1>Unsere Leistungen</h1>
            </div>
            <hr>
        </div>
        <div class="row">
            <div class="span12">
                <table class="table table-condensed table-hover pricelist">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Damen</th>
                        <th>Herren</th>
                        <th>Kinder & Jugendliche (bis 17 Jahre)</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Waschen, Schneiden, Föhnen</td>
                        <td>34€</td>
                        <td>22€</td>
                        <td>12€</td>
                    </tr>
                    <tr>
                        <td>Extra langes Haar</td>
                        <td>+10€</td>
                        <td>+5€</td>
                        <td>Kein Aufpreis</td>
                    </tr>
                    <tr>
                        <td>Tönen</td>
                        <td>ab 25€</td>
                        <td>ab 15€</td>
                        <td>ab 10€</td>
                    </tr>
                    <tr>
                        <td>Färben</td>
                        <td>ab 35€</td>
                        <td>ab 25€</td>
                        <td>ab 15€</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>