body {
    /*To prevent navbar overlap*/
    /*padding-top: 20%;!*85px;*!*/
    /*background: url("../images/phung-h-i-247271.jpg") no-repeat;*/
    /*background-size: cover;*/
    background-color: #222;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.top-container {
    padding-top: 8px;
}

.background-div {
    background: url("../images/phung-h-i-247271.jpg") no-repeat;
    background-size: cover;
    height: 130vh;
    width: 100%;
}

.navbar {
    margin-bottom: 0;
}

h1 {
    text-align: center;
}

.navbar-nav li a {
    line-height: 75px;
    height: 75px;
    padding-top: 0;
    font-size: 2em;

    /*background-color: #464646;*/
    /*margin: 40px 0;*/
}

.navbar-brand {
    font-size: 2em;
}

#phone-number {
    clear: both;

    color: #d3d3d3;
    text-align: center;
}

.navbar-right li {
    margin: 0 1.3em;
}

.jumbotron {
    background-color: rgba(34, 34, 34, 0.6); /* #222 */
    color: #d3d3d3;

    text-shadow: 1px 1px 2px black;
}

.jumbotron h1 {
    padding-bottom: 15px;

    color: #d3d3d3;
}

.jumbotron p {
    font-size: 25px;
}

hr {
    width: 33%;
    padding-bottom: 10px;
}

#below-address {
    padding-top: 16px;
    padding-bottom: 0;
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    /* reset the text-align */
    text-align: left;
    /* inline-block space fix */
    margin-right: -4px;
}

#address {
    text-align: center;
    padding-top: 2.5%;
}

#map {
    margin-left: 12.5%;
    margin-top: 50px;
    width: 75%;
    height: 75%;
    position: absolute;
    top: 0;
    bottom: 0;
}

.marker {
    background-image: url('https://www.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
}

.mapboxgl-popup-content {
    color: black;
    font-size: 14px;
}

#map-container {
    margin-bottom: 50%;
    display: flex;
    align-items: center;
    width: 50%;
}

.pricelist {
    background-color: #222;
    border-radius: 15px;
    overflow: hidden;
}

.pricelist tbody tr:hover td,
.pricelist tbody tr:hover th {
    background-color: rgba(0, 0, 0, 0.9);
}

/*Page transition animation*/
/*To make animations work well, turn nav-links into buttons that fade out and then link*/
.animate-in {
    /*-webkit-animation: fadeIn .5s ease-in;*/
    /*animation: fadeIn .5s ease-in;*/
}

.animate-out {
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
    opacity: 0;
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#social-media {
    font-size: 2em;
}

#social-media a {
    padding: 0 8px;
}

#impressum p {
    font-size: 21px;
    margin: 0;
}

#impressum-link {
    float:right;
    padding-right: 10%;
}

#footer {
    color: #d3d3d3;
    background: #222222;
}